/* header color:6D776E */
/* precceding header :4C534C */
/* color brown:805D48 */

*{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family:Candara light;
}

body{
    width: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
}

header{
    min-height: 40vh;
    width: 100%;
    background-color: #6D776E ;
}


/* GIFTCARD SECTION*/

.gift-card{
    background-color:#4C534C  ;
    min-height: 7vh;
}

.gift-card-link{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 7px;
    font-size: 1rem;
    padding: .5rem 1rem; 
}
.gift-card-link:hover{
    transition: all .5s ease-in-out 0s;
    background-color: #11111133;
   
}

.cadeau{
    font-size: 1.2rem;
}

.carte{
    font-size: 1rem;
    padding: 1rem 5rem;

}


/* lOGO SECTION */

.page-head{
    min-height: 20vh;
    justify-content: space-evenly;
} 

#currency{
    width: 8vw;
    height: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0rem .6rem;
    color: black;
    outline: 0px;

}



.currency{
    color: black;
}
        /* CART-SEARCH SECTION */

.cart-search{
    justify-content: space-evenly;
}

.cart-svg{
    width: 5vw;
    height: 4vh;
    
}

.search{
    height: 4vh;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
}

.search::placeholder{
    color: #fff;
    padding: 0rem .5rem;
}

/* NAVIGATIONS */

li{
    list-style-type: none;
    padding: .5rem 1rem;
}

li a:hover{
    color: #c4c4c4;
}


