/* header color:6D776E */
/* precceding header :4C534C */
/* color brown:805D48 */

*{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family:Candara light;
}

body{
    width: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
}



header{
    min-height: 40vh;
    width: 100%;
    background-color: #6D776E ;
}

.hamburger{
    display: none;
    color: #000000;
}


/* GIFTCARD SECTION*/

.gift-card{
    background-color:#4C534C  ;
    min-height: 7vh;
}

.gift-card-link{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 7px;
    font-size: 1rem;
    padding: .5rem 1rem; 
}
.gift-card-link:hover{
    transition: all .5s ease-in-out 0s;
    background-color: #11111133;
   
}

.cadeau{
    font-size: 1.2rem;
}

.carte{
    font-size: 1rem;
    padding: 1rem 5rem;

}


/* lOGO SECTION */

.page-head{
    min-height: 20vh;
    justify-content: space-evenly;
} 

#currency{
    width: 8vw;
    height: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0rem .6rem;
    color: black;
    outline: 0px;

}

.currency{
    color: black;
}
/* CART-SEARCH SECTION */

.cart-search{
    justify-content: space-evenly;
    width: 19%;
}

.Circle{
    height: 10vh;
}

.cart-svg{
    /* width: 5vw; */
    height: 5vh;
}

.search{
    height: 4vh;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
}

.search::placeholder{
    color: #fff;
    padding: 0rem .5rem;
}

/* NAVIGATIONS */

li{
    list-style-type: none;
    padding: .5rem 1rem;
}

li a:hover{
    color: #c4c4c4;
}


/* FLOWER SECTION */
.flower{
    height: 10vh;
    background-image: url('../images/flower.webp');
}


/* THE FRENCCH INSPIRED HOME */
.french-inspired{
    min-height: 150vh;
    background-color: #fff;
    margin: 3rem 3rem;
    /* background-color: red; */
}

.grid-3-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.french-inspired-home-top-img{
    position: absolute;
    top: 28rem;
    left: 37rem;
    height: 5vh;
    background-color: #fff;
}

.french-inspired-home{
    min-height: 140vh;
    width: 70%;
    border: 5px solid #6d776e41;
    background-color: #fff;
}

.span{
    grid-column: span 1;
    grid-row: span 1;
    margin: 2rem 0rem;
}

.flex-col{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.french-inspired-home-header{
    color: #6d776e;
    text-transform: uppercase;
    font-weight: bolder;
    
}

.french-inspired-home-img{
    width: 80%;
    height: 70%;
}

.french-inspired-home-text{
    color: #6d776e;
    font-weight: bold;
}

.french-inspired-home-link{
    background-color: #6d776e;
    padding: .5rem 2rem;
    text-transform: uppercase;
    
}

.french-inspired-home-link:hover{
    background-color: #6d776ec4;
    transition: all .2s ease-in 0s;
    
}



/* vivi gift section */

.vivi-gift{
    width: 100%;
    height: 70vh;
    /* background-color: red; */
    margin: 2rem 0rem;
    position: relative;
}

.vivi-gift-wrapper{
    height: 65vh;
    width: 90%;
    background-color: white;
    position: absolute;
}

.vivi-gift-container{
    height: 35vh;
    width: 45%;
    border: 5px solid  #6d776e41;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vivi-gift-img-header{
    background-color: #fff;
    position: absolute;
    top: 5rem;
    left: 20rem;
}

/* vivi gift text content  */
.vivi-gift-text{
    height: 50%;
    width: 60%;
    /* background-color: red; */

}

.vivi-gift-text-p{
    color:#6d776e;
    padding: 1rem 1rem;
    font-size: 1rem;

}

.vivi-gift-text-em{
    color:#6d776e; 
}

.vivi-gift-text-a{
position: absolute;
bottom: 10rem;
left: 37rem;

}

.vivi-gift-img-r{
    position: absolute;
    top: 0;
    right: 12rem;

}

.vivi-gift-img-r-layer{
    position: absolute;
    top: .8rem;
    right: 13rem;
}

.curve-img{
    border-radius: 10px;
}


/* VIVI ET FAVORITES */
/* fav =  favorite */

.vivi-favorite{
    height: 80vh;
    background-color:#CFD1CE;

}

.vivi-favorite-container{
    height: 75vh;
    width: 100%;
    background-color:#6d776e;
}

.fav-header{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.fav-header-span{
    text-transform: lowercase;
    font-size: 1.2rem;
}

.fav-p{
    justify-content: space-evenly;
}

.fav-p p{
    padding: 0rem 1rem;
    text-transform: uppercase;
}

.fav-line{
    height: .1rem;
    width: 5rem;
    background-color: #fff;
}

.fav-content{
    width: 60%;
    height: 65%;
    background-color:#a0a0a0;
    grid-template-rows: 1fr;
}

.span-fav{
    margin: .5rem .5rem;
}

 .fav-pic{
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: flex-end;
}

.fav-pic-name{
    height: 5vh;
    width: 100%;
    background-color: #ffffffb4;
    display: none;
}

.fav-pic-name-p{
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
}

:where(.lamp:hover, .card:hover, .cup:hover) :is(.fav-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}

.lamp{
    background-image: url('../images/70aca0_3c7a3bb058564cc7ba254be7d47e3242~mv2.webp');
}

.lamp:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_13891518335a45dbb52813e7e7bafac7~mv2.webp');
}

.card{
    background-image: url('../images/70aca0_50707e93bb7a4bad9c3c56b1e4260d94~mv2.webp');
}

.card:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_2d84e4066de94118914c5bd2552f495e~mv2.webp');
}

.cup{
    background-image: url('../images/70aca0_d6a3e26fbea946728f820bfcfa00cf0f~mv2.webp');
}

.cup:hover{
    transition: all .3s ease-in 0s;
    background-image: url('../images/70aca0_94b527af8e0f49ffad996da856b65139~mv2.webp');
}

.fav-img-name{
    font-weight: 500;
    padding: .2rem 0rem;
}

footer{
    height: 20vh;
    width: 100%;
    background-color: #4C534C;
}



/* VIVI MARGOT PAGE STYLING */
/* coll = collection */

.vivi-margot-head{
    height: 20vh;
    width: 100%;
    flex-direction: column;
}

.vivi-margot-container{
    width: 100%;
    flex-direction: column;
}

.row-layout{
    height: 55vh;
    width: 60%; 
    grid-template-rows: 1fr;
}

.span-coll{
    margin: .5rem .5rem;
    border: 7px solid #c4c4c4;
}

 .coll-pic{
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: flex-end;
}


.coll-pic-name{
    height: 5vh;
    width: 100%;
    background-color: #ffffffb4;
    display: none;
}

.coll-pic-name-p{
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
}

.coll-img-name{
    font-weight: 500;
    padding: .2rem .2rem;
    color: black;
}

:where(.lamp:hover, .vivi-cup:hover, .vivi-brass-cup:hover) :is(.coll-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}


/* ROW ONE IMAGES */

:where(.lamp:hover, .vivi-cup:hover, .vivi-brass-cup:hover) :is(.coll-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}


.vivi-cup{
    background-image: url('../images/70aca0_fca58feacad044a3b10e2e151dec0967~mv2.webp');
}

.vivi-cup:hover{
    transition: all .3s ease 0s;
    background-image: url('../images/70aca0_eda5a6255d1944d18d73853c12d879bc~mv2.webp');
}

.vivi-brass-cup{
    background-image: url('../images/70aca0_d6a3e26fbea946728f820bfcfa00cf0f~mv2.webp');
}

.vivi-brass-cup:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_94b527af8e0f49ffad996da856b65139~mv2.webp');
}


/* ROW TWO IMAGES */

:where(.pot:hover, .tray:hover, .card-tray:hover:hover) :is(.coll-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}


.pot{
    background-image: url('../images/70aca0_d27f87f1a60845709cf148bceb08493a~mv2.webp');
}

.pot:hover{
    transition: all .3s ease 0s;
    background-image: url('../images/70aca0_70d33ed86a7c42c4a7ba2cc01010f548~mv2.webp');
}

.tray{
    background-image: url('../images/70aca0_ff95b8e49d2b478bb8564a676287a074~mv2.webp');
}

.tray:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_ddf3097a291641da870881b45ec5171d~mv2.webp');
}

.card-tray{
    background-image: url('../images/70aca0_8371978690974866890e9cad6e1af37e~mv2.webp');
}

.card-tray:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_77f75dedf5734102a5a9215bc18a76b7~mv2.webp');
}


/* ROW THREE IMAGES */

:where(.pot-holder:hover, .oven-mint:hover, .apron:hover) :is(.coll-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}


.pot-holder{
    background-image: url('../images/70aca0_7abf455995cd407a87fb3ed3022d599e~mv2.webp');
}

.pot-holder:hover{
    transition: all .3s ease 0s;
    background-image: url('../images/70aca0_40da435b19f1446babd05fdfa7e8119f~mv2.webp');
}

.oven-mint{
    background-image: url('../images/70aca0_a5cd54ae60244450896b5051d03c7cb7~mv2.webp');
}

.oven-mint:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_e176787747c949b286a10686ccb711c9~mv2.webp');
}

.apron{
    background-image: url('../images/70aca0_51bd9e609a594a5ba2788ddd80f3facc~mv2.webp');
}

.apron:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_b3dfcc34fe0147a48e0aab6223dd2e09~mv2.webp');
}


/* ROW FOUR IMAGES */

:where(.linen-apron:hover, .card-box:hover, .string-bag:hover) :is(.coll-pic-name){
    display: flex;
    transition: all .5s step-start 0s;
}


.linen-apron{
    background-image: url('../images/70aca0_3dbdedf3e1a34f35ae3f30a45ef538ef~mv2.webp');
}

.linen-apron:hover{
    transition: all .3s ease 0s;
    background-image: url('../images/70aca0_ed0a5db0ee2048bf8b8ac689b6aab355~mv2.webp');
}

.card-box{
    background-image: url('../images/70aca0_50707e93bb7a4bad9c3c56b1e4260d94~mv2.webp');
}

.card-box:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_2d84e4066de94118914c5bd2552f495e~mv2.webp');
}

.string-bag{
    background-image: url('../images/70aca0_9e6e87735aeb44c78dac7336f18373a9~mv2.webp');
}

.string-bag:hover{
    transition: all .3s ease-in-out 0s;
    background-image: url('../images/70aca0_d8eba4c90fc0452698cd6543918be3f6~mv2.webp');
}










































@media  (max-width: 900px){
    .gift-card{
        display: none;
    }

    #currency{
        display: none;
    }

    #search{
        display: none;
    }

    .cart-svg{
        display: none;
    }

    .hamburger{
        display: block;
        width: 7vh;
    }

    #close-hamburger{
       background-color: #6D776E;
    
    }

    #navigation{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffffda;
        width: 30%;
        backdrop-filter: blur(100px);
        min-height: 50vh;
        z-index: 1;
        border-right: 5px solid #4c534c5b;
        border-bottom: 5px solid #4c534c5b;
    }

    li{
        padding: 1rem 1rem;
    }

    li a{
        color: #4C534C;
    }
    
    li a:hover{
        all: unset;
    }

    header{
        min-height: 20vh;
        width: 100%;
        background-color: #6D776E ;
    }

    .cart-search{
        justify-content: space-evenly;
        width: 19%;
    }

    /* FLOWER  */


        /* THE FRENCCH INSPIRED HOME */
    .french-inspired{
        min-height: 250vh;
        background-color: #fff;
        margin: 3rem 3rem;
    }

    .grid-3-col{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }


    .french-inspired-home-top-img{
        top: 15rem;
        left: 12rem;
    }

    .french-inspired-home{
        min-height: 240vh;
        width: 70%;
        border: 5px solid #6d776e41;
        background-color: #fff;
    }


    /* THE VIVI MARGOT PAGE */

    .row-layout{
        height: 250vh;
        width: 60%; 
        grid-template-rows: repeat(3, 1fr);
    }

    .coll-img-name{
        font-weight: 700;
        font-size: 1.2rem;
        padding: .8rem .2rem;
        color: black;
    }

}